.card-text {
  text-align: center;
  padding: 15px;
}

.card-title {
  text-align: center;
  color: black;
  margin-top: 100px;
  font-size: 20px;
  padding: 20px;
}

.ripple.ripple-surface.btn.btn-primary {
  text-align: center;
  margin-left: 508px;
  padding: 10px;
  margin-bottom: 20px;
}

.card-body.border-box {
  border: 67px solid #d2d3ec;
  border-radius: 5px;
}
